<?xml version="1.0" encoding="utf-8" ?>
<config>
    <soundlist>xml/webgamesoundlist.xml</soundlist>
    <language>xml/download4F33C721002F2BD815B4D453CDB1ABF1.xml</language>
    <soundlistusebaseurl>false</soundlistusebaseurl>
	<languageusebaseurl>false</languageusebaseurl>
    <whitebg>false</whitebg>
</config>
